<div class="container">
  <div *ngIf="!submitted">
    <h1>Template Driven Form</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="model.name" required>
        <div class="alert alert-danger" [hidden]="name.valid">Name is required</div>
      </div>
      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <!-- 
          Example of what things look like without [(ngModel)]="model.alterEgo" 
          
          <input type="text" name="alterEgo" [ngModel]="model.alterEgo" (ngModelChange)="model.alterEgo=$event" required>
        -->
        <input type="text" class="form-control" name="alterEgo" #alterEgo="ngModel" [(ngModel)]="model.alterEgo" required>
        <div class="alert alert-danger" [hidden]="alterEgo.valid">Alter Ego is required</div>
      </div>
      <div class="form-group">
        <label for="power">Hero Power</label>
        <select class="form-control" name="power" #power="ngModel" [(ngModel)]="model.power" required>
          <option *ngFor="let p of powers" [value]="p">{{ p }}</option>
        </select>
        <div class="alert alert-danger" [hidden]="power.valid">Power is required</div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!heroForm.valid">Submit</button>
    </form>
  </div>
  <div *ngIf="submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-md-2">Name</div>
      <div class="col-md-10 pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Alter Ego</div>
      <div class="col-md-10 pull-left">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Power</div>
      <div class="col-md-10 pull-left">{{ model.power }}</div>
    </div>
    <br/>
    <button class="btn btn-default" (click)="submitted=false">Edit</button>
  </div>
</div>
