<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a href="#/"><img src="assets/angular.png" class="logo"/></a>
  </div>
  <ul class="nav navbar-nav nav-pills">
    <li routerLinkActive="active">
      <a routerLink="/startertemplateform">Starter Template Form</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/starterreactiveform">Starter Reactive Form</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/basicform">Basic Template Form</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/templateform">Template Form</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/reactiveform">Reactive Form</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/reactivedynamicform">Reactive Dynamic Form</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/controlvalueaccessor">Custom Components</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/updateon">Update On</a>
    </li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
  
