<div class="container">
  <div *ngIf="!submitted">
    <h1>Reactive Form</h1>
    <form [formGroup]="heroForm" (ngSubmit)="onSubmit(heroForm)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" formControlName="name"/>
        <div class="alert alert-danger" [hidden]="heroForm.controls.name.valid">Name is required</div>
      </div>
      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control" formControlName="alterEgo"/>
        <div class="alert alert-danger" [hidden]="heroForm.controls.alterEgo.valid">Alter Ego is required</div>
      </div>
      <div class="form-group">
        <label for="email">Hero Email</label>
        <input type="email" class="form-control" formControlName="email"/>
        <div class="alert alert-danger" [hidden]="heroForm.controls.email.valid">Email is required and must be a valid email pattern</div>
      </div>
      <div class="form-group">
        <label for="power">Hero Power text</label>
        <select class="form-control" formControlName="power">
          <option *ngFor="let p of powers" [value]="p">{{p}}</option>
        </select>
        <div class="alert alert-danger" [hidden]="heroForm.controls.power.valid">Power is required</div>
      </div>
      <div class="form-group">
        <label for="power">Hero Power Pluddds asasasas</label>
        <select class="form-control" formControlName="powerPlus">
          <option *ngFor="let p of powers" [value]="p">{{p}}</option>
        </select>
        <div class="alert alert-danger" [hidden]="heroForm.controls.power.valid">Power is required</div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!heroForm.valid">Submit</button>
    </form>
  </div>

  <div *ngIf="submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-md-2">Name</div>
      <div class="col-md-10 pull-left">{{ submittedModel.name }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Alter Ego</div>
      <div class="col-md-10 pull-left">{{ submittedModel.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Hero Email</div>
      <div class="col-md-10 pull-left">{{ submittedModel.email }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Power</div>
      <div class="col-md-10 pull-left">{{ submittedModel.power }}</div>
    </div>
    <br/>
    <button class="btn btn-default" (click)="submitted=false">Edit</button>
  </div>
    <div *ngIf="!submitted">
        <h1>Reactive Form</h1>
        <form [formGroup]="heroForm" (ngSubmit)="onSubmit(heroForm)">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name" />
                <div class="alert alert-danger" [hidden]="heroForm.controls.name.valid">Name is required</div>
            </div>
            <div class="form-group">
                 <label for="alterEgo">sdsdsddssd Ego</label>
                 <input type="text" class="form-control" formControlName="alterEgo" />
                 <div class="alert alert-danger" [hidden]="heroForm.controls.alterEgo.valid">Alter Ego is required</div>
            </div>
            <div class="form-group">
                <label for="email">Hero Emailsdsdsdsd</label>
                <input type="email" class="form-control" formControlName="email" />
                <div class="alert alert-danger" [hidden]="heroForm.controls.email.valid">Email is required and must be a valid email pattern</div>
            </div>
            <div class="form-group">
                <label for="power">Hero Power</label>
                <select class="form-control" formControlName="power">
                  <option *ngFor="let p of powers" [value]="p">{{p}}</option>
                </select>
                <div class="alert alert-danger" [hidden]="heroForm.controls.power.valid">Power is required</div>
            </div>
          <div class="form-group">
            <label for="power">Hero Power Plus</label>
            <select class="form-control" formControlName="powerPlus">
              <option *ngFor="let p of powers" [value]="p">{{p}}</option>
            </select>
            <div class="alert alert-danger" [hidden]="heroForm.controls.power.valid">Power is required</div>
          </div>
            <button type="submit" class="btn btn-default" [disabled]="!heroForm.valid">Submit</button>
        </form>
    </div>

    <div *ngIf="submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-md-2">Name</div>
            <div class="col-md-10 pull-left">{{ submittedModel.name }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Alter Ego</div>
            <div class="col-md-10 pull-left">{{ submittedModel.alterEgo }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Hero Email</div>
            <div class="col-md-10 pull-left">{{ submittedModel.email }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Power</div>
            <div class="col-md-10 pull-left">{{ submittedModel.power }}</div>
        </div>
        <br />
        <button class="btn btn-default" (click)="submitted=false">Edit</button>
    </div>
</div>
